table,
td,
th {
    border-collapse: collapse;
    width: 1000px;
}

table {
    display: contents;
    border-radius: 10px;
}

.table {
    border: gainsboro 10px solid;
    border-radius: 10px;
}

td,
th {
    text-align: center;
    border: gainsboro 1px solid;
    padding: 5px;
}

th {
    color: white;
}

td {
    padding: 20px 10px;
}

.fill {
    background-color: coral;
}

.fill2 {
    background-color: blanchedalmond;
}

.Title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

.button {
    margin-top: 10px;
    padding: 3px;
    background-color: skyblue;
    color: white;
    border: none;
    border-radius: 15px;
    width: 100px;
    height: 30px;
    margin-left: 47%;
    margin-top: 20px;
    cursor: pointer;
}

.A,
.B,
.C,
.D,
.E,
.F {
    color: gray;
}

.A {
    background-color: paleturquoise;
}

.B {
    background-color: pink;
}

.C {
    background-color: lemonchiffon;
}

.D {
    background-color: lavender;
}

.E {
    background-color: peachpuff;
}

.F {
    background-color: palegreen;
}
